---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>Allison Declerq-Matthas</h1>
<button>Showreel</button>
<button>Projects</button>
<button>About</button>

<div class="fullscreen-bg">
  <video class="fullscreen-bg__video" autoplay loop muted>
    <source src="{{ 'img/small.mp4' | url }}" type="video/mp4">
  </video>
</div>